.site__layout--scroll {
  background-position: top center;
  background-repeat: no-repeat;
  background-size: auto;
  background-color: #000000;
  background-image: url('https://i.siteapi.org/8L9Zzc6cXeoauwG2uqPlOFqUvuI=/filters:fill(transparent)/s2.siteapi.org/1f98566180b6481/img/6l73fvagye80ss08s848ssogwkco88');
}